127.0.0.1	localhost.localdomain	localhost
::1	localhost6.localdomain6 localhost6

# west
{{ ipaddress01 }}	{{ hostname01 }}
{{ ipaddress02 }}	{{ hostname02 }}
{{ ipaddress03 }}	{{ hostname03 }}
{{ ipaddress04 }}	{{ hostname04 }}
{{ ipaddress05 }}	{{ hostname05 }}

# east
{{ ipaddress06 }}	{{ hostname06 }}
{{ ipaddress07 }}	{{ hostname07 }}
{{ ipaddress08 }}	{{ hostname08 }}
{{ ipaddress09 }}	{{ hostname09 }}
