127.0.0.1	localhost.localdomain	localhost
::1	localhost6.localdomain6 localhost6

{{ ipaddress01 }}	{{ hostname01 }}
{{ ipaddress02 }}	{{ hostname02 }}
{{ ipaddress03 }}	{{ hostname03 }}
{{ ipaddress04 }}	{{ hostname04 }}
{{ ipaddress05 }}	{{ hostname05 }}
